<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
  	<link rel="stylesheet" type="text/css" href="estilo.css">
  	<title>Somando</title>
	<script>
	function isNumberKey(evt){
		var charCode = (evt.which) ? evt.which : evt.keyCode
		return !(charCode > 31 && (charCode < 48 || charCode > 57));
	}	
	</script>
</head>
<body>
	      <!-- rota \/    -->
	<form action="somar" method="POST">
		<label>Numero 1</label>
		<input name="num1" type="text" onkeypress="return isNumberKey(event);"/>
		<br />
		<label>Numero 2</label>
		<input name="num2" type="text" onkeypress="return isNumberKey(event);"/>
		<br />
		<input type="submit" value="Somar"/>
	</form>	
	
	<p> <% if(locals.resultado) {%>
		Resultado é: <%= resultado %>
	<% } %> </p>
</body>
</html>

